/* CSS BY [Alexander Rothstein] */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root 
{
--midnight-blue: #1F2A44;
--olive-green: #76885B;
--champagne-gold: #E5C185;
--linen: #F8F4EC;
--dark-charcoal: #2B2B2B;
--soft-white: #FAF9F6;
}

/* GLOBAL STYLES (small)  */
* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

body {
    background-color: var(--linen);
    color: var(--dark-charcoal);
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
main {
    padding: 1rem;
    max-width: 1400px;
    margin: 0 auto
}

header {
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    padding: 2rem 1rem;
    text-align: center;
}
.logo {
    
    max-width: auto;
    height: auto;
    margin: 0  auto 1rem;
}
header h1 {
    font-size: 3rem;
    padding: 0;
}
header p {
    font-style: italic;
}
nav {
    background: var(--champagne-gold);
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    padding:1rem;
}
nav a {
    color: var(--midnight-blue);
    text-decoration: none;
    font-weight:bold;
    font-size:1rem;
}
h2 {
    color: var(--midnight-blue);
    font-size: 2rem;
    margin: 2rem 0 1rem;
}
h3 {
    color: var (--soft-white)
}
#welcome, #offer, #gallery {
    padding: 1rem;
}
#welcome{
    padding-bottom: 2rem;
}
#offer {
    display: grid;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
#basket {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
#offer, 
#exclusive, 
#basket{
    background: var(--olive-green);
    color: var(--soft-white);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
}
#basket ul {
    list-style-type: disc;
    padding-left: 1rem;
}

.gallery-cards {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

}

.gallery-cards li {
    background: var(--soft-white);
    padding: 1rem;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align:center;
    font-style: italic;
}
.button {
    display: grid;
    color: var(--soft-white);
    justify-content: center;
    background-color: var(--olive-green);
    padding: 1rem;
}
.button a {
    display: block;
    text-align: center;
    background-color: var(--olive-green);
    color: var(--soft-white);
    padding: 1rem;
    border-radius: 5px;
    font-weight: bold;
}

footer{
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding: 1rem;
}
footer p {
    margin: 1rem 0;

}

footer p:nth-child(3), footer p:nth-child(4), footer p:nth-child(5) {
    color: var(--champagne-gold);
}
/* MEDIA QUERY (medium) */
@media screen and (min-width: 600px){
    .gallery-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    #offer {
        display: grid;
        grid-template-columns:1fr 1fr ;
        gap: 1rem;
    }
    #basket {
        grid-column: 1/ -1;
    }
}
/* MEDIA QUERY (large) */
    header h1 {
        font-size: 4rem;
    }

    header p {
        font-size: 1.5rem;
    }

    .logo {
        max-width: 200px;
        height: auto;
    }

    .gallery-cards {
        grid-template-columns: repeat(3, 1fr);
    }
/* MEDIA QUERY (xl) */

@media screen and (min-width: 1200px) {
        main {
            max-width: 100%;
        }
        .gallery-cards {
            grid-template-columns: repeat(4, 1fr);
        }

}
 